$font-size-main: 16px;
<<<<<<< HEAD
$font-color-main: #565656;
$font-color-title: #000;
$font-color-addition: #7B7B7B;

$width_container: 1170px;
$adaptive_width_container: calc($width_container / 2);
=======
$font-family-main: Lato, sans-serif;
$font-family-color: rgba(86, 86, 86, 1);
$container-width: 1170px;
>>>>>>> de1fc606f2416921c79d9f980030081bacdca11c
